
.row_header{
    position: sticky;
    top: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header_tab{
    border: 1px solid black;
    padding: 5px;
    height: 30px;
    /* max-height: 30px; */
    width: 25%;
    background-color: gray;
    color: white;
    font-weight: bold;
   
}
@media(max-width: 760px) {
  .header_tab{
    font-size: 12px;
  }
}