.row_container{
    display: flex;
    width: 100%;
  padding: 10px;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid black;
}
.row_col{
    width: 25%;
}
@media (max-width: 500px) {
  .row_container{
    font-size: 12px;
  }
}